//LISTS
li{
    margin-bottom: 1em;
}
//PAGE HEADER STYLING
.page-header{
    @include container;
    background-color: $primary;
    padding: gutter();
    color:#fff;

    .logo{
        @include span(5);
    }

    h1{
        @include span(7);
    }

}

//PAGE FOOTER STYLING
.page-footer{
    @include container;
    background-color: $primary;
    padding: gutter();
    color:#fff;

    .copyright{
        @include span(6);
    }
    .about{
        @include span(6 last);
    }

}


// LINK Styling
a{
    color: $highlight;
    text-decoration: none;
    &:visited{
        color: darken($highlight, 15%);
    }

    &:hover{
        border-bottom: $highlight 2px solid;
    }
}


//SLIDE TOGGLE LINKS ===============
.toggle-link{
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

    &:hover{
        cursor: pointer;
        color: $highlight;
        &:before{
            content: "\f111";
//            content: "\f0d7";r
        }
    }

    &:before{
        font-family: FontAwesome;
        content: "\f10c";
//        content: "\f0da";
        letter-spacing: 10px;
    }

    &.active{
        color: $highlight;
    }
    &.active:before{
        content: "\f111";
//        content: "\f0d7";
    }
}//end toggle link






