//nest everything in the register class to ensure it only applies to this page
.register{

    .intro-info{
        @include clearfix;
        .deadline{
            background-color: $highlight;
        }
    }//.intro-info

    .register-status{
        background-color: $palette3;
        @include clearfix;
    }//.register-status

    .how-to-register{
        @include clearfix;
    }//.how-to-register

    .special-populations{
        background-color: $palette3;
        @include clearfix;
    }//end .special-populations

    .take-action{
        background-color: darken($palette3, 15%);
        @include clearfix;
    }// end .take-action

    .resources{
        background-color: $palette3;
        @include clearfix;
    }//.resources
}
