
//==== clearfix mixin====
@mixin clearfix {
    &:after{
        content: " ";
        display: table;
        clear: both;
    }
}

//==== use of clearfix ====
//.selector{
//    @include clearfix;
//}
